@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Special+Gothic+Expanded+One&display=swap');
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', 'Sans-Serif';
}
.blog-container{
    padding: 7px 20% 7px 20%;
    height: 100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 5px 0px 0px 0px;
    /*border: 1px solid black;*/
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.socials{
    font-size: 0.75rem;
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0px;
}
.socials a img{
    width: 30px;
}
.main-content{
    display: flex;
    justify-content: center;
    margin: -5px 0px 22px 0px;
}
.introduction h3{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin: 0px 0px -7px 0px;
}
.introduction p{
    text-align: center;
    word-spacing: 1px;
}
@media screen and (max-width: 768px){
    .socials a img{
        width: 30px;
    }
    .blog-container{
    padding: 7px 15% 7px 15%;
    height: 100vh;
}
}